* {	padding: 0; margin: 0; vertical-align: top; }

body {
	font-size: 1em;
	font-family: 'PT Sans', sans-serif;
}

a {	color: #069; }
a:hover { color: #28b; }

h2 {
	margin-top: 15px;
	font-size: 2em;
	font-family: 'PT Sans', sans-serif;
}

h3 {
	margin-left: 30px;
	font-size: 1.7em; 
	font-family: 'PT Sans', sans-serif;
	color: #666;
}

p {
	margin-top: 10px;
}

ol , ul {
	margin: 1.5em 2em;
}

ul {
	list-style: none;
}

li {
	margin-bottom: 1em;
}

hr {
	margin: 3em 0;
}

button {
	font-size: 18px;
	padding: 1px 7px;
}

input {
	font-size: 18px;
}

table#metadata {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 1em;
}

table#metadata td, table#metadata th {
    border: 1px solid #000;
    text-align: center;
    padding: 8px;
}

table#metadata tr:nth-child(even) {
    background-color: #eee;
}

pre {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #c7254e;
  background-color: rgba(0, 0, 0, 0.04);
}

#header {
	position: relative;
	width: 800px;
	margin: auto;
	text-align: center;
}

#header h2 {
	margin-left: 10px;
	vertical-align: middle;
	font-size: 42px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
}

#progressbar {
	width: 100%;
	height: 20px;
}

#content {
	width: 800px;
	margin: 0 auto;
	padding: 10px;
}

#footer {
	margin-top: 25px;
	margin-bottom: 10px;
	text-align: center;
	font-size: 12px;
	color: #999;
}